.Container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    flex-grow: 2;
    gap: 50px;
    flex-shrink: 1;
    align-self: center;
    margin-left: 0px;
    padding-bottom: 50px;
  }