.root {
}
.image {
  display: block;
  width: 220px;
  padding: 0px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-items: start;
  align-content: space-evenly;
  justify-content: start;
  width: 250px;
  height: 450px;
  border-radius: 15px;
  background-color: transparent;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: start;
  margin: 0px;
  background-image: linear-gradient(0deg, #222d2d 64%, #4a8888 100%);
  background-position: 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
}
.title {
  color: #ffffff;
  flex-grow: 0;
  align-self: baseline;
  margin: 0px;
}
.desc {
  margin: 0px;
  font-size: 0.5rem;
  color: #d9cfcf;
}
.more {
  display: block;
  position: relative;
  border-radius: 15px;
  height: 30px;
  width: 60px;
  background-color: #65dbdb;
  background-image: none;
  border: 0px solid black;
  opacity: 1;
  box-shadow: inset 0.71px 0.71px rgba(244, 244, 244, 0.2);
  top: 150px;
  left: 160px;
}
